$color-bg: #FFF8D5

.DropArea
  height: 150px
  background-color: $color-bg
  border: 3px dashed #B7B7B7
  border-radius: 16px
  text-align: center
  padding: 13px
  cursor: pointer
  transition: background-color .1s ease, box-shadow .1s ease
  box-shadow: inset 5px 1px 16px #707070

  &:hover
    background-color: lighten($color-bg, 5%)
    box-shadow: -5px 1px 16px #707070

.DropArea input
  visibility: hidden
  width: 0
  height: 0
